<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dobry Wędkarz - Internetowy sklep wędkarski</title>
    <link rel="stylesheet" href="common.css">
</head>
<body>

<div th:replace="fragments.html :: menu"></div>

<div class="centered"> Dane biura do kontaktu pocztowego: <br> Dobry_Wędkarz
    <br> ul. Piękna 47 <br> 44-203 Rybnik
    <br> <br> Godziny pracy: <br> Pon-Pt - 8:00 - 16:00 <br> Sobota - nieczynne
    <br> <br> Główny e-mail: <br> main@dobry-wędkarz.com.pl
    <br> <br> Doradztwo: <br> e-mail: office@dobry-wędkarz.com.pl <br> tel: (33) 812-15-29
    <br> * w wypadku zapytań o konkretny produkt prosimy o podanie jego indeksu.
    <br> <br> Reklamacje / zwroty: <br> e-mail: reklamacje@dobry-wędkarz.com.pl
    <br> tel: (33) 492-63-04
</div>

<div id="logo" th:fragment="logo"><img src="logo_q2.jpg" id="bg_v2"></div>
</body>
</html>